<!--table class="table table-sm">
  <tr *ngFor="let customer of customerService.list">
    <td>{{customer.tipoDocumento}}</td>
    <td>{{customer.numeroDocumento}}</td>
    <td>{{customer.nombres}}</td>
    <td>{{customer.apellidos}}</td>
    <td>{{customer.email}}</td>
    <td>
      <i class="far fa-edit fa-lg text-info" ng-model="btnEditar"  (click)="editar(customer.numeroDocumento, customer.tipoDocumento, customer)" style="cursor:pointer"></i>
    </td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarCustomer(customer.numeroDocumento, customer.tipoDocumento)" style="cursor:pointer"></i>
    </td>
  </tr>
</table-->
<h1>hys</h1>

