<header class="header-section">
  <div class="container jumbtron">
    <div class="section-title">
      <h2>Productos</h2>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="section-title">
          <h2>Agregar Productos</h2>
        </div>
        <app-create-inventory></app-create-inventory>
      </div>
      <div class="col-md-7">
        <div class="section-title">
          <h2>Listado Productos</h2>
        </div>
        <app-list-inventory></app-list-inventory>
      </div>
    </div>
  </div>
</header>

