<header class="header-section">
  <section class="deal-of-week set-bg spad" data-setbg="assets/img/time-bg.jpg">
    <div class="container">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h2>Contáctenos</h2>
                <p>Dejanos saber que necesitas. </p>
                    <form action="#" class="">
                      <input class="form-control" type="text" placeholder="Ingresa Correo Electronico" />
                      <br>
                      <textarea class="form-control" name="" id="" cols="10" rows="3" placeholder="Deja tu comentario"></textarea>

                  </form>
            </div>
            <div class="countdown-timer" id="countdown">

            </div>
            <a href="#" class="primary-btn">Enviar</a>
        </div>
    </div>
  </section>
</header>
